
/* Root Variables - Applied to whole page*/
:root {
    --font-family: Arial, Helvetica, sans-serif;

    --color-primary: #ffffff;
    --color-secondary: #ffffff;
    --color-background: #ffffff;
    --color-surface: #ffffff;
    --color-border: #ffffff;
    --color-text: #ffffff;
}

body {
    font-family: var(--font-family);
    color: var(--color-text);
    background: var(--color-background);
}
