
/* Root Variables - Applied to whole page*/
:root {
    --font-family: Arial, Helvetica, sans-serif;

    /* Colour changed :) NR*/
    --color-primary: #291670;
    --color-primary-hover: #DA157E;
    --color-secondary: #FE6F88;
    --color-background: #EFFBE0;
    --color-surface: #000000; 
    --color-border: #c37ddd;
    --color-text: #ffffff;

    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-error: #ef4444;

}

body {
    font-family: var(--font-family);
    color: var(--color-text);
    background: var(--color-background);
}
